@import "../fontFamily";
.news-card {
  display: flex;
  height: 133%;
  padding: .3em;
  margin-top: 1em;
  border-radius: 1em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), -1px -1px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  &:hover{
    box-shadow: 4px 8px 10px rgba(202, 34, 80, 0.1), -1px -1px 3px rgba(202, 34, 80, 0.1);
    h2{
      color: #ca2250;
    }
  }

  .news-card__image-block {
    border-radius: 14px;
    overflow: hidden;
    width: 30%;
    font-size: 0;
    @media (max-width: 768px){
      width: 40%;
    }
    img {
      width: 100%;
      height: auto;
      border-radius: 1em;
    }
  }

  .news-card__content {
    padding: .5em 1em;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 768px){
      font-size: 60%;
    }
  }

  h2 {
    margin: 0;
    font-size: calc(.1em + 2vw);
    font-family: Onest-ExtraBold;
    transition: color .5s ease;
    @media (max-width: 768px){
      font-size: calc(.2em + 2vw);
    }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    span {
      padding: .2em .7em;
      border: 1px solid;
      border-radius: 2em;
      font-size: calc(.1em + 1vw);
      @media (max-width: 768px){
        font-size: calc(.2em + 1vw);
      }
    }
  }

}
