@import "../fontFamily";
//Весь попап (с затемнением)
.news-popup {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 5em;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.3);
}
//Весь попап (видимая часть)
.popup-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 4em);
  height: 100%;
  box-sizing: border-box;
  border-radius: 1em;
  background: #fff;

  //Контейнер для скролла
  &__scroll-container{
    width: 100%;
    overflow-wrap: normal;
    overflow-y: scroll;
    overflow-x: visible;
    scroll-behavior: smooth;

    // Скрыть стандартный скроллбар
    &::-webkit-scrollbar {
      display: none;
    }
  }
  //Контейнер для контента
  &__content-container{
    position: relative;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;

    @media (max-width: 768px){
      width: 100%;
      padding-left: 1em;
      padding-right: 1em;
    }

  }
}

.popup-header{
  display: flex;
  position: absolute;
  align-items: center;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  background: #fff;
  right: 0;
  z-index: 100;
}
//Зафиксированный хедер
.is_fixed{
  right: auto;
  width: 100%;
}
//Крошки заголовка
.header-bread{
  .breadcrumbs{
    margin-left: calc(15% + 1em);
    @media (max-width: 768px) {
      margin-left: 1em;
    }
  }
}
.title_only{
  align-items: flex-start;
  .bread__item:not(:last-child) {
    display: none;
  }
  .bread__item:last-child{
    margin-left: 1em;
    margin-top: 0;
    font-size: calc(.4em + .6vw);
    opacity: 1;
    font-family: 'Unbounded-Bold', sans-serif ;
    @media (max-width: 768px) {
      margin-left: 0;
    }
  }
}

.bread {
  width: 100%;
  .breadcrumbs{
    display: flex;
    padding-left: 0;
  }
  &__item {
    text-transform: uppercase;
    font-family: 'Onest-Regular', sans-serif;
    font-size: calc(.3em + .5vw);
    list-style: none;

    &:last-child {
      opacity: .4;
    }

    &:not(:last-child) {
      margin-right: .5em;

      &::after {
        content: "•";
        margin-left: .5em;
      }
    }
  }
}

//Крестик закрытия
.close-button {
  background-color: #ca2250;
  border-radius: .3em;
  padding: 0 .3em;
  color: #fff;
  font-size: 3em;
  font-weight: 100;
  transition: background-color 0.3s ease-out;

  &:hover{
    background-color: lighten(#ca2250, 15%);
    cursor: pointer;
  }

  &__icon{
    right: 0;
    top: 0;
  }
}
//Кастомный скролл
.scroll-progress {
  position: absolute;
  width: 0;
  max-width: 93.5%;
  height: 2px;
  margin-left: .7em;
  border-radius: 1px;
  opacity: .6;
  background: linear-gradient(to right, orange, purple);
  z-index: 150;

  @media (max-width: 768px) {
    max-width: 90%;
  }
}

//Контент попапа
.popup-content {
  padding-bottom: 8em;
  p{
    font-size: calc(.4em + .6vw);
    color: #717070;
    width: 50%;
  }
  &__img {
    width: 100%;
    height: auto;
    border-radius: 1em;
    object-fit: cover;
  }
  h2{
    font-family: Unbounded-Bold, sans-serif;
    margin-top: .5em;
    margin-bottom: .5em;
    font-size: calc(1em + 1vw);
  }
  //Медиа для всего контента
  @media (max-width: 768px) {
    padding-top: 4em;
    p{
      font-size: calc(.3em + 2.5vw);
      width: 100%;
    }
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: .5em;
  span {
    padding: .2em .7em;
    border: 1px solid;
    border-radius: 2em;
    font-size: calc(0.2em + .8vw);
    @media (max-width: 768px) {
      font-size: calc(0.6em + .6vw);
    }
  }
  .blue{
    color: #5b4481;
    border-color: #5b4481;
  }
  .red{
    color: #ca2250;
    border-color: #ca2250;
  }
}

.popup-title{
  font-size: calc(0.6em + 2vw);
  line-height: 1.2em;
  font-family: 'Unbounded-Bold', sans-serif;
  margin-top: .5em;
  margin-bottom: .3em;
  @media (max-width: 768px) {
    font-size: calc(1em + 2vw);
  }
}

.popup-news-date{
  font-size: calc(.1em + 1vw);
  text-decoration: underline;
  opacity: .3;
  text-transform: uppercase;
  @media (max-width: 768px) {
    font-size: calc(.1em + 2vw);
  }
}



