@import "fontFamily";
body{
  background: rgba(210, 210, 210, 0.3);
}
h1, h2{
  color: #232323CC;
}
#app{
  margin-top: 5em;
}

body {
  font-family: 'Onest-Regular', sans-serif;
  margin-left: 2em;
  margin-right: 2em;
}

