h1{
  margin: .5em;
}
.content__news{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-top: 1em;
}

.news-more-btn{
  margin-left: auto;
  @media (max-width: 768px) {
    justify-content: center;
    margin-left: unset;
    width: 100%;
  }
}

.base-btn[btn-style=pink]{
  background: #ca2250;
  &:hover{
    box-shadow: 0 1.4em 4em #e12a5d26, 0 .8em 2.4em #ca225033, 0 .3em .8em #b9204c33;
  }
}

.base-btn{
  position: relative;
  display: inline-flex;
  align-items: center;
  align-self: flex-end;
  margin-bottom: 1em;
  cursor: pointer;
  border-radius: 10px;
  transition: all .3s ease-in-out;
  &__btn-content{
    display: flex;
    padding: .5em 1em;
    align-items: center;
  }
  &__btn-title{
    color: #fff;
    font-family: 'Onest-Medium', sans-serif;
    font-size: calc(.5vw + .3em);
    text-transform: uppercase;
  }
  //Медиа для фул кнопки base-btn
  @media (max-width: 768px) {
    border-radius: calc(2vw + 10px);
    &__btn-content{
      padding: calc(1.5vw + .5em);
    }
    &__btn-title{
      font-size: calc(2vw + .3em);
      font-weight: 500;
      letter-spacing: .1rem;
      line-height: 1.2rem;
    }
  }
}
